git+https://github.com/JR-1991/software-driven-rdm.git@e3a5199
PyEnzyme==1.1.4
CaliPytion==0.0.3
EnzymePynetics==0.0.2
ipython==8.7.0
joblib==1.2.0
lmfit==1.0.3
matplotlib==3.6.2
numpy==1.22.3
pandas==1.4.2
scipy==1.8.0
seaborn==0.11.2